.product {
    margin-left: 20px;
    margin-top: 100px;
    width: 300px;
    height: 510px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.product img {
    margin: 7px;
    border-radius: 8px;
    height: 286px;
    width: 286px;
}

.productName {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 10px; */
    color: #0E161A;
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.productInfo {
    margin-left: 14px;
}

.productInfo p {
    margin-top: 2px;
}

.btnCart {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0px;
}

.btnCart:hover{
    background-color: orange;
}